-- Таблица: User
CREATE TABLE "User" (
    id BIGINT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password_hash VARCHAR(255) DEFAULT NULL,
    role VARCHAR(255) NOT NULL DEFAULT 'buyer',
    provider VARCHAR(255) NOT NULL DEFAULT 'local',
    status VARCHAR(255) NOT NULL DEFAULT 'active',
    phone VARCHAR(255) DEFAULT NULL,
    profile_image VARCHAR(255) DEFAULT NULL,
    store_name VARCHAR(255) DEFAULT NULL,
    store_address VARCHAR(255) DEFAULT NULL,
    store_phone VARCHAR(255) DEFAULT NULL,
    accept_terms BOOLEAN NOT NULL DEFAULT FALSE
);

-- Таблица: Category
CREATE TABLE "Category" (
    id BIGINT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    parent_category_id BIGINT REFERENCES "Category"(id) ON DELETE SET NULL
);

-- Таблица: Brand
CREATE TABLE "Brand" (
    id BIGINT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    description TEXT NOT NULL,
    "VideoURL" VARCHAR(255) NOT NULL,
    logo VARCHAR(255)
);

-- Таблица: ProductVariant
CREATE TABLE "ProductVariant" (
    id BIGINT PRIMARY KEY,
    price DECIMAL(8,2) NOT NULL,
    discount DECIMAL(8,2) NOT NULL DEFAULT 0,
    quantity BIGINT NOT NULL,
    rating FLOAT NOT NULL DEFAULT 0,
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    size BIGINT NOT NULL,
    color BIGINT NOT NULL,
    amount BIGINT DEFAULT 0  -- заменено с BFILE на BIGINT
);

-- Таблица: Product
CREATE TABLE "Product" (
    id BIGINT PRIMARY KEY,
    product_variant_id BIGINT NOT NULL REFERENCES "ProductVariant"(id),
    name VARCHAR(255) NOT NULL,
    description TEXT,
    material VARCHAR(255),
    images JSON,
    is_active BOOLEAN NOT NULL DEFAULT TRUE,
    category_id BIGINT NOT NULL REFERENCES "Category"(id),
    brand_id BIGINT NOT NULL REFERENCES "Brand"(id)
);

-- Таблица: Cart
CREATE TABLE "Cart" (
    id BIGINT PRIMARY KEY,
    user_id BIGINT REFERENCES "User"(id) ON DELETE SET NULL,
    guest_id BIGINT UNIQUE
);

-- Таблица: CartItem
CREATE TABLE "CartItem" (
    id BIGINT PRIMARY KEY,
    cart_id BIGINT NOT NULL REFERENCES "Cart"(id),
    product_variant_id BIGINT NOT NULL REFERENCES "ProductVariant"(id),
    quantity BIGINT NOT NULL DEFAULT 1
);

-- Таблица: Favorite
CREATE TABLE "Favorite" (
    id BIGINT PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "User"(id),
    product_variant_id BIGINT NOT NULL REFERENCES "ProductVariant"(id),
    UNIQUE (user_id, product_variant_id)
);

-- Таблица: Orders
CREATE TABLE "Orders" (
    id BIGINT PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "User"(id),
    order_date TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(255) NOT NULL DEFAULT 'Processing',
    payment_method VARCHAR(255) NOT NULL,
    total_amount DECIMAL(8,2) NOT NULL
);

-- Таблица: OrderItem
CREATE TABLE "OrderItem" (
    id BIGINT PRIMARY KEY,
    order_id BIGINT NOT NULL REFERENCES "Orders"(id),
    product_variant_id BIGINT NOT NULL REFERENCES "ProductVariant"(id),
    quantity BIGINT NOT NULL,
    price DECIMAL(8,2) NOT NULL,
    subtotal DECIMAL(8,2) NOT NULL
);

-- Таблица: Payment
CREATE TABLE "Payment" (
    id BIGINT PRIMARY KEY,
    order_id BIGINT NOT NULL REFERENCES "Orders"(id),
    status VARCHAR(255) NOT NULL DEFAULT 'Pending',
    payment_method VARCHAR(255) NOT NULL,
    transaction_date TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    currency VARCHAR(255) NOT NULL DEFAULT 'USD',
    total_amount DECIMAL(8,2) NOT NULL
);

-- Таблица: Review
CREATE TABLE "Review" (
    id BIGINT PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "User"(id),
    product_variant_id BIGINT NOT NULL REFERENCES "ProductVariant"(id),
    rating SMALLINT NOT NULL CHECK (rating BETWEEN 1 AND 5),
    likes_count BIGINT NOT NULL DEFAULT 0,
    comment TEXT NOT NULL
);

-- Таблица: Question
CREATE TABLE "Question" (
    id BIGINT PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "User"(id),
    product_variant_id BIGINT NOT NULL REFERENCES "ProductVariant"(id),
    question_text TEXT NOT NULL,
    answer_text TEXT,
    likes_count INT NOT NULL DEFAULT 0
);

-- Таблица: Notification
CREATE TABLE "Notification" (
    id BIGINT PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "User"(id),
    message TEXT NOT NULL,
    is_read BOOLEAN NOT NULL DEFAULT FALSE
);

-- Таблица: Delivery
CREATE TABLE "Delivery" (
    id BIGINT PRIMARY KEY,
    order_id BIGINT NOT NULL REFERENCES "Orders"(id),
    address VARCHAR(255) NOT NULL,
    status VARCHAR(255) NOT NULL DEFAULT 'Pending',
    estimated_delivery_date TIMESTAMP(0)
);

-- Таблица: UserActivityLog
CREATE TABLE "UserActivityLog" (
    id SERIAL PRIMARY KEY,
    user_id BIGINT NOT NULL REFERENCES "User"(id),
    action TEXT NOT NULL,
    timestamp TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP
);