<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Уведомления</title>
  <script src="/static/js/notifications.js"></script>
  <style>
    .notification {
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      background-color: #f8f8f8;
    }
  </style>
</head>
<body>
  <h1>Добро пожаловать на главную страницу!</h1>
  <div id="notifications"></div>

  <script>
    const userID = {{ if . }}{{ . }}{{ else }}null{{ end }};

    if (userID !== null) {
      connectToSSE(userID);
    }
  </script>
</body>
</html>
